.dropdown {
  display: none;
  left: 20vw;
  height: 200px;
  z-index: 3000;
  .dropdown__row {
    display: flex;
    justify-content: space-between;
    height: 100%;
    .dropdown__column {
      &:first-child {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100%;
        padding: 30px 50px;
        background-color: red;
        .dropdown__title-en {
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 600;
          color: white;
        }
        .dropdown__title-ko {
          font-weight: 600;
          color: white;
          margin: 5px 0;
          font-size: 16px;
        }
        .line {
          width: 100px;
          margin-top: 5px;
          height: 1px;
          background-color: white;
        }
      }
      &:nth-child(2) {
        width: 30vw;
        padding: 30px 50px;
        background-color: white;
        .dropdown__subColumn {
          width: 100%;
          &:nth-child(2) {
            margin-top: 15px;
          }
          .dropdown__list {
            display: flex;
            .dropdown__item {
              width: 6.5vw;
              margin-left: 2vw;
              .dropdown__link {
                color: black;
                font-size: 15px;
                font-weight: 700;
              }
              &:first-child {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
  }
}
