.header {
  display: flex;
  flex-direction: column;
  .header__row {
    padding: 20px 7vw 8px 7vw;
    display: flex;
    justify-content: space-between;
    &:last-child {
      background-color: #000000;
      color: #ffffff;
    }
    .header__column {
      .header__logo {
        width: 120px;
      }
      .header__span {
        padding-left: 20px;
        span {
          font-weight: 800;
          &:first-child {
            color: $logoRed;
          }
        }
      }
      display: flex;
      align-items: flex-end;
      .header__list {
        display: flex;
        .header__item {
          font-size: 14px;
          margin-left: 40px;
          display: flex;
          align-items: center;
          &:last-child {
            margin-left: 15px;
          }
          .header__link {
            color: black;
            font-weight: 600;
            i {
              font-size: 20px;
              font-weight: 400;
            }
          }
        }
      }
    }
    &:last-child {
      padding: 7px 7vw;
      .header__column {
        display: flex;
        align-items: center;
        .header__companyName {
          span {
            font-weight: 800;
          }
        }
        .header__list {
          .header__item {
            font-size: 15px;
            margin-left: 6vw;
            &:first-child {
              margin: 0;
            }
            &:last-child {
              a {
                font-weight: 800;
                color: red;
              }
            }
            a {
              color: white;
            }
          }
        }
        .header__form {
          .header__input {
            width: 8vw;
            padding: 2px;
            font-size: 15px;
          }
          i {
            padding-left: 10px;
          }
        }
      }
    }
  }
}
